app__container {
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card__container {
  margin: 12px;
  max-width: 250px;
  height: 500px;
}

.tour__img__wrapper {
  width: 100%;
}

.tour__img {
  width: 100%;
  height: 167px;
}

.textuals {
  width: 100%;
}

.navbar{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.3;
}

.country{
    color: orangered;
    font-weight: 700;
}
